<div class="products-container">
  <h1>Productos</h1>

  @if (products() && products().length > 0) {
    <div class="products-list">
      @for (product of products(); track product.id) {
        <div class="product-card">
          <h3>{{ product.nombre }}</h3>
          <p>ID: {{ product.id }}</p>
          <p>Creado: {{ product.created_at }}</p>
        </div>
      } @empty {
        <p>No hay productos disponibles</p>
      }
    </div>
  } @else {
    <p>Cargando Productos</p>
  }

    <div class="pagination">
    <button 
      (click)="previousPage()" 
      [disabled]="currentPage() === 1"
      class="pagination-btn">
      Anterior
    </button>
    
    <span class="page-info">
      Página {{ currentPage() }} de {{ totalPages() }}
    </span>
    
    <button 
      (click)="nextPage()" 
      [disabled]="currentPage() === totalPages()"
      class="pagination-btn">
      Siguiente
    </button>
  </div>
</div>
